# Ignore node_modules directory
node_modules/

# Ignore build output
build/
dist/

# Ignore environment-specific .env files
.env
.env.local
.env.*.local



# Ignore .DS_Store files on macOS
.DS_Store

# Ignore editor-specific files and directories
.vscode/
.idea/



